*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: arial, 'Roboto';
}

/* header  */
header{
    height: 125px;
    width: 100%;
    background-color: white;
}

#title{
    font-size: 70px;
    font-weight: 700;
    line-height: 125px;
    vertical-align: top;
}

header img{
    height: 85px;
    margin: 20px 5px 20px 35px;
    display: inline-block;
}
/* /header  */

/* add buttons */
#container{
    width: 70%;
    margin: 70px auto 20px auto;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: white;
}

.add{
    height: 80px;
    padding: 20px 80px;
}
.button{
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 10px;
}

.task{
    background-color: #47adf1;
    color: white;
    border: 2px solid #47adf1;
}

.section{
    background-color: white;
    color: lightgray;
    border: 2px solid lightgray;
}

hr{
    border: 2px solid #f6f8f9;
}
/* /add buttons */

/* activity list */
.list{
    padding: 40px 0px 0px 80px;
    font-size: 30px;
}

.list::before{
    content: "\0023F7";
}

.activity{
    font-size: 25px;
    padding: 15px 0px;
}
/* /activity list */

/* checkmark */
.done::before{
    content: "\2714";
    font-weight: 900;
    color: #64c0a9;
    font-size: 15px;
    padding: 0px 5px;
    border: 2px solid #64c0a9;
    border-radius: 100%;
    margin-right: 15px;
}

.undone::before{
    content: "\2718";
    font-weight: 900;
    color: #ef726a;
    font-size: 15px;
    padding: 0px 5px;
    border: 2px solid #ef726a;
    border-radius: 100%;
    margin-right: 15px;
}
/* /checkmark */

/* tags */
.editorial::after{
    content: "Editorial";
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    background-color: #45abea;
    border-radius: 15px;
}

.q1goals:after{
    content: "Q1 Goals";
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    background-color: #9c72e4;
    border-radius: 15px;
}

.recruiting:after{
    content: "Recruiting";
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    background-color: #64c0a9;
    border-radius: 15px;
}

.mobile:after{
    content: "Mobile";
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    background-color: #f29e33;
    border-radius: 15px;
}

.website:after{
    content: "Website";
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    background-color: #d863a1;
    border-radius: 15px;
}

.sales:after{
    content: "Sales";
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    background-color: #b0c926;
    border-radius: 15px;
}
/* /tags */

